# MacOS
.DS_Store

# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/

# Common backup files
*.swp
*.bak
*.tmp
*~

# Various IDEs
.project
.idea/
*.tmproj

# shit env file contains slack credentials (changeme file to be modified locally)
# */support/env.list

# Private key of the wildcard certificate
kubernetes/private-key.pem