---
apiVersion: v1
kind: ConfigMap
metadata:
  name: digibank-configmap
  labels:
    chart: 'digibank-{{ .Chart.Version | replace "+" "_" }}'
    app: digibank
    version: "{{ .Chart.Version }}"
data:
  ##### Environment variables #####
  mongoUrl: "{{ .Values.config.mongoUrl }}"
  currency: "{{ .Values.config.currency }}"
  sessionSecret: "{{ .Values.config.sessionSecret }}"
  slackBotToken: "{{ .Values.config.slackBotToken }}"
  slackChannelId: "{{ .Values.config.slackChannelId }}"

  ##### Accounts #####
  createAccountEndpoint: "/api/accounts/create"
  getAccountsEndpoint: "/api/accounts/get"
  accountWithdrawEndpoint: "/api/accounts/withdraw"
  accountDepositEndpoint: "/api/accounts/deposit"
  dropAccountsEndpoint: "/api/accounts/drop"

  ##### Authentication #####
  signupEndpoint: "/api/user/create"
  loginEndpoint: "/api/user/authenticate"
  getUsersEndpoint: "/api/user/get"

  ##### Bills #####
  getBillsEndpoint: "/api/bills/get"
  upsertBillEndpoint: "/api/bills/create"
  dropBillsEndpoint: "/api/bills/drop"

  ##### Support #####
  chatEndpoint: "/api/message"

  ##### Transactions #####
  createTransactionEndpoint: "/api/transactions/create"
  getTransactionsEndpoint: "/api/transactions/get"
  dropTransactionsEndpoint: "/api/transactions/drop"
