
---
##### General config #####
revisionHistoryLimit: 3

config:
  currency: "EUR"
  mongoUrl: "mongodb://mongo:27017/admin"
  sessionSecret: "w3hMHPfe4jK21UHYY0Ph"
  slackBotToken: "xoxb-YOURTOKEN-NOT-IN-GITHUB"
  slackChannelId: "C012X5BKR7F"

image:
  pullPolicy: IfNotPresent
  resources:
    requests:
      cpu: 300m
      memory: 512Mi

livenessProbe:
  initialDelaySeconds: 10
  periodSeconds: 5
  endpointPath: "/health"

readinessProbe:
  initialDelaySeconds: 30
  periodSeconds: 10
  endpointPath: "/health"

hpa:
  enabled: true
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80

##### Micro-service specific config #####

mongo:
  enabled: true
  name: "mongo"
  version: latest
  image: "mvertes/alpine-mongo"
  servicePort: 27017
  pvSize: 2Gi
  pvAccessMode: "ReadWriteOnce"

accounts:
  name: "accounts"
  version: 1.0.0
  image: "boeboe/digibank-accounts-svc"
  replicaCount: 1
  servicePort: 3400

authentication:
  name: "authentication"
  version: 1.0.0
  image: "boeboe/digibank-authentication-svc"
  replicaCount: 1
  servicePort: 3200

bills:
  name: "bills"
  version: 1.0.0
  image: "boeboe/digibank-bills-svc"
  replicaCount: 1
  servicePort: 3800

portal:
  name: "portal"
  version: 1.0.0
  image: "boeboe/digibank-portal-svc"
  replicaCount: 1
  servicePort: 3000
  nodePortEnabled: true
  serviceNodePort: 30300

support:
  name: "support"
  version: 1.0.0
  image: "boeboe/digibank-support-svc"
  replicaCount: 1
  servicePort: 4000

transactions:
  name: "transactions"
  version: 1.0.0
  image: "boeboe/digibank-transactions-svc"
  replicaCount: 1
  servicePort: 3600

userbase:
  name: "userbase"
  version: 1.0.0
  image: "boeboe/digibank-userbase-svc"
  replicaCount: 1
  servicePort: 4200
